
body {
	background-color: #ffffe6;

}

header {
	height: 15px;
	font-family: arial;
	margin: 20px;
}

#left {
	font-size: 30px;
	float: left;
	font-style: bold;
	text-shadow: 2px 2px #ffe6e6;
	color: #990000;
	
}

#right  {
	float: right;
	color: #990000;
}

nav {
	position: relative;
	margin: 20px 20px 10px 20px;
	background-color: #009900;
	height: 10px;
	font-size: 20px;
	border-radius: 10px;
}

ul {
	float: right;
	margin-top: 25px;
}

li {
	display: inline;
	margin-right: 15px;
	padding: 5px;

}

section {
	float: right;
	height: 300px;
	width: 250px;
	background-color: #b3ffb3;
	padding: 40px;
	margin-right: 40px;
	margin-top: 65px;
	border-radius: 4px;

}
a:link {
	text-decoration: none;
	color: #009900;
}

a:hover {
	text-decoration: underline;
}

input {
	height: 30px;
	font-family: "Lucida Console";
	font-size: 20px;
	border-radius: 5px;
	padding: 5px;
	border-style: groove;
}

 input[type=submit] {
 	background-color: #009900;
 	padding: 5px;
 	font-family: georgia;
 	font-size: 15px;
 	color: #ffffe6;
 	border-style: outset;
 	border-radius: 6px;
 }

 input[type=submit]:hover {
 	background-color: #003300;
 	
 }
 h1 {
 	float: right;
 	margin-right: 100px;
 	font-size: 200%;
 	color: #990000;
 	text-align:justify;
	text-justify:inter-word;
	margin-top: 40px;
 }